<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>Profiling Test</title>
</head>
<body>
    Input Profiling URL:
    <input id="profilingURL" type="text">
    <button id="submitURL">Submit URL</button>
    <script>
        window.onload = document.getElementById('submitURL').addEventListener('click', function() {
        var inputURL = document.getElementById('profilingURL').value;
        console.log(inputURL);
        $.post('receiver', inputURL, function() {});
        event.preventDefault();
        // Use AJAX to send data to the server
        // alert(inputURL);
});
    </script>
</body>
</html>